.header{
    margin: 0% auto;
    padding: 0%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    padding: 8px 15px;
}

.navbar-item{
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.header-item-list{
    display: flex;
    align-items: center;
    margin: 0px -7px;
    /* width: 549px; */
}

.header-list-item{
    position: relative;
    margin: 0%;
    padding: 0% 32px 0 0;
}

.tel-number{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    border: 3px solid #00BAFC;
    transition: all 0.5s;
}

.header-list-link{
    margin: 0%;
    padding: 16px 0px;
    border-bottom: 3px solid #191919 transparent;
    color: #000000;
}

.dropdown-item-list{
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 8px;
    width: 124px;
    right: 5px;
    top: 40px;
}

.dropdown-list-item{
    padding: 8px 0%;
    transition: all 0.5s;
}
.dropdown-list-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.header-list-link:hover{
    border-bottom: 3px solid #191919;
    margin: 0%;
    padding: 16px 0px;
}

.header-list-link:active{
    background: rgba(25, 25, 25, 0.7);
    color: #FFFFFF;
    width: 100%;
}

.sub-dropdown-item-list{
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 8px;
    width: 124px;
    right: 5px;
    top: 40px;
}

.sub-dropdown-list-item{
    padding: 8px 0%;
    transition: all 0.5s;
}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}

.tel-number:hover{
    background: #FFFFFF;
    border: 3px solid #00BAFC;
    border-radius: 5px;
    color: #00BAFC;
}

.tel-number:active{
    background: rgba(0, 186, 252, 0.6);
    border-radius: 5px;
    color: #FFFFFF;
}

.header-list-item:hover .dropdown-item-list{
    display: block;
}

.dropdown-list-item:hover{
    color: #FFFFFF;
    background: #00BAFC;
}

.dropdown-list-item:active{
    color: #FFFFFF;
    background-color: #00BAFC;
    opacity: 0.6;
}
.dropdown-list-link:hover{
    color: #FFFFFF;
}

.dropdown-list-link:active{
    color: #FFFFFF;
}